*{
  padding: 0;
  margin: 0;
  font-family: 'poppins' sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(248, 248, 248);
}
.List{
 height:400px;
 width:300px; 
border-radius:5px;
box-shadow: 0 0 0 #000;
background: rgba(0, 0, 0, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(0, 0, 0, 0.3);
border:none
}
form{
  margin-top:10%;
  text-align: center;
}
input {
  width: 80%;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
input:hover{
  transform: scale(1.2);
}
::placeholder{
  color: #727171;
}
.butn{
  width: 50%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;

}
button:hover {
  transform: scale(1.2);
}
p {
  margin-top: 10px;
}
.sin{
  color: blue;
  padding: 5px;
  cursor: pointer;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
a {
  color: #000;
  text-decoration: none;
  margin-top: 10px;
}
.log a:hover{
border-bottom: 1px solid #000;
}
a i {
  font-size: 15px ;
  padding: 5px;
}